In [ ]:
from IPython.display import Image
from IPython.core.display import HTML 
import numpy as np

# **Welcome to the Kresge Library's Introduction to Python**
### **By Richa Bhattacharya and Carlos E. Ortega**
##### In Collaboration with the Division of Data Science's [Data Peer Consulting](https://data.berkeley.edu/ds-peer-consulting)

# BEFORE WE BEGIN
### Please Complete This Brief Pre-Workshop Survey
https://forms.gle/rFSV9LoMfqjRAydM6

# Richa Bhattacharya
![Richa](https://data.berkeley.edu/sites/default/files/styles/width_400/public/richa_-_richa_bhattacharya.jpg?itok=Mr7ME_3R&timestamp=1599264242)

Quick Facts About Me:

    ðŸ» Junior at Cal
    ðŸŽ’ Studying Computer Science, Data Science
    ðŸ‘¨ðŸ¼â€ðŸ« Academic Intern for CS61A and CS61B
    ðŸ¢ Previously interned at American Express
    ðŸ“Š Joined the Data Peer Consulting team in Fall 2019

How to Reach/Stalk Me:

    ðŸ“® Email: richa.b@berkeley.edu
    ðŸ‘¨ðŸ¼â€ðŸ’» Github: @richab2000

# Carlos Eduardo Ortega
![Carlos](https://data.berkeley.edu/sites/default/files/styles/width_400/public/img_3245_-_carlos_ortega.jpeg?itok=6cdS9XWS&timestamp=1599261924)
Quick Facts About Me:

    ðŸ» Senior at Cal
    ðŸŽ’ Studying Cognitive Science, interest in NLP
    ðŸ‘¨ðŸ¼â€ðŸ« I love to teach
    ðŸ¢ Previously worked for U.S. Census Bureau, ICSI, Data 8 Course Staff
    ðŸ“Š Joined the Data Peer Consulting team in Fall '18

How to Reach/Stalk Me:

    ðŸ“® Email: ceos@berkeley.edu
    ðŸ‘¨ðŸ¼â€ðŸ’» Github: @SoyCarlos

# What is Python?

![Python Logo](images/python-logo.png)

From [Python's Official Site](https://www.python.org/doc/essays/blurb/):


> Python is an **interpreted**, **object-oriented**, **high-level programming language** with dynamic semantics. Its high-level built in data structures, combined with **dynamic typing** and **dynamic binding**, make it very attractive for **Rapid Application Development**, as well as for use as a **scripting** or glue language to connect existing components together. Python's simple, **easy to learn syntax** emphasizes **readability** and therefore reduces the cost of program maintenance. Python supports **modules** and **packages**, which encourages program modularity and code reuse. The Python interpreter and the extensive standard library are available in source or binary form without charge for all major platforms, and can be freely distributed. 

In layman terms, Python is:
- A Programming Language
- Easy to read
- Easy to learn
- Easy to use with other pre-existing programs
- Quick to adapt to any use-cases
- Open-Source

Modules, packages, and libraries are collections of re-usable code used to improve the interoperability of code and the effiency of programmers.

Examples:
- [Pandas](https://pandas.pydata.org/) - Today's package of choice for data analysis
- [Numpy](https://numpy.org/) - Scientific Computing
- [Biopython](https://biopython.org/) - Biological Computation
- [Astropy](https://www.astropy.org/index.html) - Astronomy
- [Nilearn](http://nilearn.github.io/) - Neuroimaging
- [SageMath](https://www.sagemath.org/) - Collection of Math Packages (Elementary, Algebra, Calculus, Number Theory, etc)

### You will quickly notice there is a lot more to learn than what is covered today.
# IOKN2K
It's OK Not To Know

https://dlab.berkeley.edu/blog/what-iokn2k

# Python Fundamentals
https://swcarpentry.github.io/python-novice-inflammation/01-intro/index.html

### **Simple Calculations and Evaluating Expressions**

In [ ]:
5 + 5

In [ ]:
5 * 5 + 10

As we can see below, Python follows PEMDAS while evaluating expressions

In [ ]:
5 * (5 + 10)

### **Storing values in variables**

In [ ]:
workHours = 8
workDays = 5
hoursPerWeek = workHours * workDays
print("You work " + str(hoursPerWeek) + " hours per week")

Notice a couple of things happened here: 
*   we set names of our expressions and were able to use those names to evaluate and create other variables
*   print statement takes in a string so we needed to convert our hoursPerWeek variable which has a type int to a type string

### **Built-in Variable Types**

![Data Types](images/data_types.png)

*https://www.w3schools.com/python/python_datatypes.asp*

In other programming languages like Java, you would need to specify what type of data your variable holds when you declare it. In Python you don't need to specify:

In [ ]:
#In Java:
#   int age = 19;
#   String name = "Richa";

#In Python:
age = 19
name = "Richa"
print(age, name)

**Note:** Assigning a value to one variable does not change values of other variables. 

For example, let's try to convert weight in kilograms to pounds:

In [ ]:
weight_kgs = 100
#There are 2.2 kilograms in a pound
weight_lbs = 2.2 * weight_kgs
print(str(weight_kgs) + " kilograms in pounds is " + str(weight_lbs) + " lbs")

# Â¡Breakout Rooms!

### **Exercise:** What data type is 2.2? 
##### *(Hint: If you're unsure, the ```type(variable)``` function may be useful)*

ANSWER HERE

### **Exercise:** How can we have our weight return an integer as well?

In [ ]:
weight_lbs = ...
print(str(weight_lbs))

### **Exercise:** After every line of this code, write down what you think each variable's value will be:

In [ ]:
temp_celsius = 5
#convert to kelvin = celsius + ~273 
temp_kelvin = ...
temp_celsius = ...

Since temp_kelvin stored a copy of the value of temp_celcius, it does not update when temp_celcius is changed.

### **Exercise:**
*   **Create a variable storing the current temperature at Cal in Fahrenheit**
*   **Create a variable converting the current temp to the nearest degree Celsius**
*   **Create a variable converting the current temp to the nearest degree Kelvin**
*   **Print the following statement as shown below in ONE line of code:**

![Screen Shot 2020-09-05 at 3.09.51 AM.png]()

*(Hint: How do you make a new line in a print statement?)*

*(Hint: How do you convert a float to an int?)*

*(Hint: How do you print integers?)*

In [ ]:
tempf = 70
tempc = ...
tempk = ...
print("The current temperature at Cal is:\n" + str(tempf) + " in Fahrenheit\n" + str(tempc) + " in Celsius\n" + str(tempk) + " in Kelvin")



---

# Â¡Come Back!

# Repeating Actions with Loops
https://swcarpentry.github.io/python-novice-inflammation/04-loop/index.html

#### **QUESTION:** How can we do the same operations on different values?

Suppose we have the word "lead" and we want to print out each individual letter per line. We could write it out manually:



```
word = "lead"
print(word[0])
print(word[1])
print(word[2])
print(word[3])
```

But this would be super cumbersome if we had to do this for longer words like "Pseudopseudohypoparathyroidism".

This is where loops would be useful to have:

In [ ]:
word = "python"
for letter in word:
  print(letter)

In [ ]:
word = "workshop"
lengthOfWord = 0;
for letter in word:
    lengthOfWord = lengthOfWord + 1
print(lengthOfWord)

### **Exercise:** What does this code do?

In [ ]:
total = 1;
for i in range(1,6):
  total = total*i
print(total)

# Making Choices with Conditionals
https://swcarpentry.github.io/python-novice-inflammation/07-cond/index.html

When we start working with a lot of data, we might want to start treating different groups of data different from others. Let's see how in the next cell.

In [ ]:
number = 15
if number > 0:
    print(number, "is positive!")

This is helpful for positive numbers, but I also want to account for negative numbers.

In [ ]:
number = -15 
if number > 0:
    print(number, "is positive!")
else:
    print(number, "is negative!")

But wait, what if I input zero, I don't think that's negative or positive.

In [ ]:
number = 0
if number > 0:
    print(number, "is positive!")
elif number < 0:
    print(number, "is negative")
else:
    print(number, "is zero!")

I've decided that I'm going to input my favorite numbers into a loop containing these conditional statements to split them up into three lists: positive, negative, and zeroes.

In [ ]:
favorite_numbers = [4, 0, 8, -12, 15, 16, -1, 23, 0, 42]
favorite_positive_numbers = []
favorite_negative_numbers = []
favorite_zeroes = []

for number in favorite_numbers:
    if number > 0:
        favorite_positive_numbers.append(number)
    elif number < 0:
        favorite_negative_numbers.append(number)
    else:
        favorite_zeroes.append(number)

print("Favorite Positive Numbers:", favorite_positive_numbers, "\nFavorite Negative Numbers:", favorite_negative_numbers, "\nFavorite Zeroes:", favorite_zeroes)

In the first section, we mentioned **boolean values**.

Boolean values are **True** or **False**.

These are most often calculated using relational operators. Some examples of relational operators are:


```
# Check if two values are equal (==)
5 == 1
False

#Check if two values are NOT equal (!=)
5 != 1
True

# Greater than or equal to (>=)
5 >= 1
True

# Less than or equal to (<=)
5 <= 1
False

# Less than (<)
5 < 5
False

# Greater than (>)
5 > 1
True
```

Conditionals are **if**, **elif**, and **else** statements. If and elif statements run the code inside them only if their boolean value is True, the else statement will be used.


```
if True:
    # Run This Code
elif True:
    # Run this code
else:
    # Everything else was False, run this code.
```

**Note:** All numbers (except 0) and strings on their own are evaluted as True values.

In [ ]:
if 1:
    print(True)

In [ ]:
if 0:
    print(True)
else:
    print(False)

In [ ]:
if "Anything":
    print(True)

# Â¡Breakout Rooms!

### **Exercise:** 
#### Create conditional statements that will let me know if the temperature in Berkeley will be Too Hot, Too Cold, or Just Right.

**NOTE:** I consider anything below 68 to be too cold, anything above 68 too hot, and 68 to be just right.

In [ ]:
todays_temperature = 68

if ...:
    print(...)
elif ...:
    print(...)
else:
    print(...)

# Â¡Come Back!

# Creating Functions
https://swcarpentry.github.io/python-novice-inflammation/08-func/index.html

Looking back at converting temperatures from Fahrenheit to Celsius, what if we want to do this for every temperature we are given? This is where creating a function that can do this for us is useful:

In [ ]:
def f_to_c(temp):
    return (int)((temp - 32) * (5/9))
freezing = f_to_c(32)
boiling = f_to_c(212)
print('freezing point of water:', freezing, 'C')
print('boiling point of water:', boiling, 'C')

# Â¡Breakout Rooms!

#### **Exercise:** Create a function that converts Celsius to Kelvin

In [ ]:
def c_to_k(temp_c):
    return ...

print('freezing point of water in Kelvin:', c_to_k(0.))

#### **Exercise:** Create a function that converts Fahrenheit to Kelvin using the functions we've created previously:

In [ ]:
def fahr_to_kelvin(temp_f):
    temp_c = ...
    temp_k = ...
    return ...

print('boiling point of water in Kelvin:', fahr_to_kelvin(212.0))

# Â¡Come Back!

Functions can be used to make writing code more efficient and less repetitive, but it is also used to encapsulate large chunks of code that solves a particular problem under one name. Below, we can see the function *visualize*, which takes in a filename and visualizes the data that the filename stores.

In [ ]:
def visualize(filename):

    data = numpy.loadtxt(fname=filename, delimiter=',')

    fig = matplotlib.pyplot.figure(figsize=(10.0, 3.0))

    axes1 = fig.add_subplot(1, 3, 1)
    axes2 = fig.add_subplot(1, 3, 2)
    axes3 = fig.add_subplot(1, 3, 3)

    axes1.set_ylabel('average')
    axes1.plot(numpy.mean(data, axis=0))

    axes2.set_ylabel('max')
    axes2.plot(numpy.max(data, axis=0))

    axes3.set_ylabel('min')
    axes3.plot(numpy.min(data, axis=0))

    fig.tight_layout()
    matplotlib.pyplot.show()

In [ ]:
def offset_mean(data, target_mean_value):
    return (data - np.mean(data)) + target_mean_value

z = np.zeros((2,2))
print(offset_mean(z, 3))

### **Additional Information**: Commenting

Throughout this workshop we have seen a couple of examples of commenting within your code using the hash (#) symbol. Another convenient way of commenting your code that will be extremely useful if you are working on a group project is through docstrings

In [ ]:
#This Function converts temperatures inputted in Fahrenheit to Celsius
#Parameters: temperature in Fahrenheit
#Return Type: int
def f_to_c(temp):
    return (int)((temp - 32) * (5/9))

In [ ]:
def f_to_c(temp):
    """Return a new array containing the original data
       with its mean offset to match the desired value."""
    return (int) ((temp -32) * (5/9))
help(f_to_c)

A string like this is called a docstring. We donâ€™t need to use triple quotes when we write one, but if we do, we can break the string across multiple lines:

In [ ]:
def f_to_c(temp):
    """Return a new array containing the original data
       with its mean offset to match the desired value.

    Examples
    --------
    >>> f_to_c(32)
    0
    >>> f_to_c(212)
    100
    """
    return (int) ((temp -32) * (5/9))

help(f_to_c)

# Analyzing a Dataset
https://swcarpentry.github.io/python-novice-inflammation/02-numpy/index.html

Data comes in many file tyes and forms, from SQL Databases to Excel Spreadsheets. One of the most common ways to share data is csv files. They are your traditional tabular data and could be opened in Excel. However, once they start to get larger, Excel can begin to lag or have trouble performing basic operations. We'll practice how to do some of those basic operations here.

In [ ]:
# Pandas is our Package, pd is the nickname we'll give it in this notebook
import pandas as pd

# Pandas reads in data and creates a DataFrame object of them
lib_traffic = pd.read_csv('data/HourlyTraffic-2019-12-11.csv')

Lets see the first 10 rows

In [ ]:
lib_traffic.head(10)

Now what if we want to know how big this table is? Lets get the number of rows and columns

In [ ]:
lib_traffic.shape

It's a pretty big table, lets see what types of values are in the 'Facility' and 'Entrance' columns.

In [ ]:
lib_traffic['Facility'].unique(), lib_traffic['Entrance'].unique()

Lets get some quantitative data. What is the highest/lowest number of entries across all libraries and entrances?

In [ ]:
max(lib_traffic['Entries']), min(lib_traffic['Exits'])

This type of quantitative data gives us a good overview of our range, but it can be a bit too time-consuming for larger tables with more columns. Luckily, there's a method for that.

In [ ]:
lib_traffic.describe()

Now, lets sort the Entries and Exits (descending) to find the most popular Entries/Exits.

In [ ]:
lib_traffic.sort_values('Entries', ascending=False).head(10)

In [ ]:
lib_traffic.sort_values('Exits', ascending=False).head(10)

### Question: What do the Top 10 rows for Entries & Exits have in common?

ANSWER HERE

We can filter out using relational operators that we learned earlier.
```
table_name[table_name[column] == value] # Only keep rows with this value in the selected column
table_name[table_name[column] != value] # Only keep rows WITHOUT this value in the selected column
table_name[table_name[column] > value] # Only keep rows with greater values in the selected column
```

Using this, lets focus on the Engineering Library.

In [ ]:
lib_traffic[lib_traffic['Facility'] == 'ENGI Library'].sort_values('Entries', ascending=False).head(10)

To get a better pictures of the aggregate values of different groups, Pandas provides the Groupby method. We'll use it below to find the total amount of Entries and Exits by library.

[Pandas Groupby Documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.groupby.html)

In [ ]:
lib_traffic.groupby('Facility').sum().sort_values('Entries', ascending=False).head(5)

# Â¡Breakout Rooms!

### **Exercise**: What is the most popular entry for Moffit Library? Most popular exit?

In [ ]:
moffit_library = ...
moffit_library

# Â¡Come Back!

# Introduction to Visualization

We will go in-depth into visualizations in the next workshop, but here's a sneak peek at what type of visualization you can learn to do.

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
lib_traffic_clean = lib_traffic[['Date-Time','Facility', 'Entries', 'Exits']].dropna()
libs = []
for library in lib_traffic_clean['Facility'].unique():
    lib = lib_traffic_clean[lib_traffic_clean['Facility'] == library].groupby('Date-Time').sum()
    lib['Facility'] = [library] * lib.shape[0]
    libs.append(lib)

In [ ]:
moffit = lib_traffic_clean[lib_traffic_clean['Facility'] == 'MOFF Library']
moffit = moffit.groupby('Date-Time').sum()

plt.figure(figsize=(20,10))
plt.plot(moffit.index, moffit['Entries'], label='Entries')
plt.plot(moffit.index, moffit['Exits'], label='Exits')
plt.xticks(rotation=45)
plt.legend()
plt.show()

In [ ]:
top5 = lib_traffic_clean.groupby('Facility').sum().sort_values('Entries', ascending=False)[:5].index
plt.figure(figsize=(20,10))
for library in libs:
    if library['Facility'].iloc[0] in top5:
        plt.plot(library.index, library['Entries'], label=library['Facility'].iloc[0])
plt.legend()
plt.xticks(rotation=45)
plt.show()

The next one is an interactive scatter plot with a local regression line to examine the trend of entries.

This was made using [Plotly](https://plotly.com/python/)

In [ ]:
import plotly.express as px
data = lib_traffic_clean.groupby('Date-Time').sum().reset_index()
fig = px.scatter(data, x=data.index, y='Entries', trendline='lowess', labels={'index':'Time', 'Entries':'Entries'})
fig.show()

# More Resources

Thank you so much for attending this workshop. There is always more to learn so we have listed some helpful resources below as you continue your Data Learning Journey.

1. Data Peer Consultants - We help Undergrads and Graduate students with projects, research, and more! Come to our drop-in hours. https://data.berkeley.edu/ds-peer-consulting
2. Towards Data Science - https://towardsdatascience.com/
3. Stack Overflow & Google - https://stackoverflow.com/
4. W3Schools - https://www.w3schools.com/python/
5. Software Carpentry - https://swcarpentry.github.io/python-novice-inflammation/